/* src/App.css */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

h2 {
  font-size: 2.5rem;
  color: #333;
}

p {
  font-size: 1.1rem;
  color: #555;
}

.responsive-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}


@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  .image {
    max-width: 100%;
    height: auto;
  }
}


